####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
wss.url = https://saas.whitesourcesoftware.com/agent

##################################
# Organization tokens:
##################################
apiKey = cb266aad128e4985aa1bb9345f0bbfa84e903e8c12394241a056e2286372acfc

enableImpactAnalysis = true
maven.ignoredScopes = All
maven.aggregateModules = true
gradle.aggregateModules = true
maven.ignoreMvnTreeErrors = false
npm.includeDevDependencies = true
npm.ignoreNpmLsError = false

projectName = WST_943
projectVersion = 
projectToken = 

productName = WST_943
productVersion = 
productToken = 

##################################
# Includes/Excludes Glob patterns
##################################
includes = **/*.java **/*.jar
case.sensitive.glob = false
followSymbolicLink = true

