####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
wss.url = https://app.whitesourcesoftware.com/agent

##################################
# Organization tokens:
##################################
apiKey = 0d0c4173d28c4c0c8976d8c2d198b3c59d2696dc4e664037adc43fab18c22cc8

enableImpactAnalysis = true
maven.ignoredScopes = All
maven.aggregateModules = true
gradle.aggregateModules = true
maven.ignoreMvnTreeErrors = false
npm.includeDevDependencies = true
npm.ignoreNpmLsError = false

projectName = WST_943
projectVersion = 
projectToken = 

productName = WST_943
productVersion = 
productToken = 

##################################
# Includes/Excludes Glob patterns
##################################
includes = **/*.java **/*.jar
case.sensitive.glob = false
followSymbolicLink = true

